.login {
  width: 100%;
  padding: 30px 30px 0px 30px;
  .login-container {
    width: 80%;
    height: 500px;
    border: none;
    margin: auto;
    .card-body {
      display: flex;
      .login-body-image {
        position: relative;
        .login-body-image-front {
          position: absolute;
          .login-body-image-font-image {
            .login-image-front-frame {
              margin-left: -10px;
              margin-top: -25px;
            }
          }
        }
        .login-body-image-frame {
          .login-image-frame {
            margin-top: 150px;
            margin-left: 26px;
          }
        }
      }
      .login-body-main-form {
        width: 380px;
        position: absolute;
        right: 50px;
        .login-body-form {
          padding: 20px 20px 10px;
          border: 1px solid #ddd;
          .login-form-heading {
            text-align: center;
            font-size: 45px;
            font-family: "Special Elite", cursive;
            font-weight: 800;
            letter-spacing: 4px;
          }
          .form-floating {
            .form-control {
              height: 50px;
              font-size: 0.8rem !important;
            }
            .form-control:focus {
              border-color: #ddd;
              box-shadow: none;
            }
            label {
              font-size: 13px;
            }
            .form-control::placeholder {
              font-size: 12px !important;
            }
          }
          .login-button-container {
            .login-button {
              background-color: rgb(0, 0, 0);
              color: white;
            }
          }
          .hrline {
            display: flex !important;
            justify-content: center;
            .login-form-hrline {
              width: 250px;
              height: 1px;
              margin: auto;
              background-color: #ddd;
            }
          }
          .login-forget-password {
            text-align: center;
            font-size: 14px;
          }
          .login-forget-password a {
            color: rgb(27, 27, 134);
            text-decoration: none;
          }
        }
        .login-body-form-register {
          padding: 10px 20px 10px;
          border: 1px solid #ddd;
          display: flex;
          justify-content: center;
          font-size: 14px;
          .signup a {
            color: rgb(27, 27, 134);
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: right;
    border: none;
    .card-body {
      display: flex;
      justify-content: right;
      .dropdown {
        scale: 0.9;
      }
    }
  }
}
@media only screen and (max-width: 1220px) {
  .card-body {
    display: flex !important;
    justify-content: center;
    .login-body-image {
      display: none;
    }
    .login-body-main-form {
      position: static;
      right: auto !important;
      margin: auto !important;
    }
  }
}
